/* colors
#06283D
#1e5af9
#47B5FF
#DFF6FF 
https://colorhunt.co/palette/06283d1363df47b5ffdff6ff

new: #1e5af9
blue: #1E5AF9
dark gray: #474555
gray: #ACA9BB
*/

/* Body  */
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Judson', serif;
}

h2 {
    font-size: 2.5rem;
    word-wrap: break-word;
    font-family: 'Archivo Black', sans-serif;
}

h3 {
    font-size: 3.5rem;
    margin: 40px;
    font-family: 'Archivo Black', sans-serif;
}

p {
    font-family: 'Archivo', sans-serif;
    line-height: 2rem;
}

/* Navigation Bar */

nav {
    background-color: #1e5af9;
    margin-top: 0;
    color: white;
}

nav h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4.5rem;
}

nav p {
    padding: 0;
    margin: 10px 10px 10px 10px;
    text-align: center;
    margin-bottom: 40px;
}

nav a {
    text-decoration: none;
    font-size: larger;
    padding: 20px;
    margin-left: auto;
    color: white;
}

/* Main Section  */

.mainDiv {
    margin-top: 0;
    margin-bottom: 12%;
    color: white;
    background-color: #1e5af9;
    width: auto;
    height: 600px;
}

.mainDiv h2 {
    margin: 0;
    margin-bottom: 0;
    padding-top: 20px;
    font-size: 5rem;
}

.mainDiv p {
    padding: 10px 180px;
}

.mainDiv img {
    height: auto;
    width: 14%;
    padding: 20px;
    background-color: transparent;
    filter: drop-shadow(3px 11px 7px rgb(151, 151, 151));
    z-index: 1;
}

.mainDiv .imgB {
    height: auto;
    width: 15%;
}

#btn {
    margin: 20px;
    margin-bottom: 20px;
    padding-top: 40px;
}

.btnLogo{
    padding-top: 20px;
    margin: 20px;
}

.btnLogo:hover{
    filter: drop-shadow(3px 11px 7px rgb(151, 151, 151));
    cursor: pointer;
}

.aboutTextbox {
    padding-bottom: 35%;
}

.imagebox {
    width: 15%;
    float: left;
    margin-left: 190px;
}

.textbox {
    width: 50%;
    float: right;
    margin-right: 190px;
    color: rgb(0, 0, 0);
    text-align: left;
    padding-top: 42px;
}

.textbox p {
    text-align: left;
    margin-right: 250px;
    padding-bottom: 20px;
}

.imageboxMid {
    width: 15%;
    float: right;
    margin-right: 190px;
}

.textboxMid {
    width: 50%;
    float: left;
    margin-left: 190px;
    color: rgb(0, 0, 0);
    text-align: right;
    padding-top: 42px;
}

.textboxMid h2{
    text-align: left;
    display: block;
}

.textboxMid p {
    text-align: left;
    padding-bottom: 20px;
    margin-right: 250px;
}

.aboutTextbox .textBoxBtn{
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 8px #666666;
    -moz-box-shadow: 0px 3px 8px #666666;
    box-shadow: 0px 3px 8px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 25%;
}

.aboutTextbox .textBoxBtn:hover {
    background: #1f1f1f;
    text-decoration: none;
}

.aboutTextbox .textBoxBtnMid {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 8px #666666;
    -moz-box-shadow: 0px 3px 8px #666666;
    box-shadow: 0px 3px 8px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    margin-right: 100%;
    width: 25%;
}

.aboutTextbox .textBoxBtnMid:hover {
    background: #1f1f1f;
    text-decoration: none;
}


#clients {
    background-color: white;
    margin-right: 190px;
    margin-left: 190px;
}

#clients p {
    width: auto;
    margin: 0px 6px;
}

.companyLogo {
    width: 236px;
    padding: 10px;
    margin: 36px 113px;
    height: 176px;
    filter: drop-shadow(0 15px 8px rgb(151, 151, 151));;
}

.companyLogo:hover {
    background-color: #f7f7f7;
}

#testi {
    background-color: white;
}

.testiPara {
    width: auto;
    padding: 10px 190px;
    margin: 0px 6px;
}

.testiBox {
    width: 400px;
    padding: 26px;
    margin: 13px 20px;
    height: auto;
    display: inline-block;
    text-align: left;
    font-size: 20px;
    box-shadow: 1px 3px 6px 0px #888888;
    border-radius: 30px;
}

.testiBox:hover {
    background-color: #f7f7f7;
}

.testiLogo {
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    height: 50px;
    border-radius: 50%;
    width: 50px;
    margin-top: 5px;
}

.companyDet {
    display: inline;
    width: 330px;
    float: right;
    font-size: 0.80rem;
}

.companyName {
    margin: 0;
    font-weight: bolder;
}

.companyPos {
    margin: 0;
}



#faq {
    background-color: white;
}

#download {
    background-color: white;
}

/* faq section */
.faq-heading {
    border-bottom: #777;
    padding: 20px 60px;
}

.faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 70px;

}

/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;

}

.faq-body {
    margin: auto;
    width: 50%;
    padding: auto;

}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #f7f7f7;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    box-shadow: 1px 3px 6px 0px #888888;
    width: 900px;
    margin-top: 10px;
}

.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

/* faq section */

#download {
    background-color: white;
}

.downloadWholeBox {
    margin-top: 20px;
    padding-bottom: 500px;
}

.downloadboxImagebox {
    width: 15%;
    float: right;
    margin-right: 190px;
}

.downloadbox {
    width: 50%;
    float: left;
    margin-left: 190px;
    color: rgb(0, 0, 0);
    text-align: right;
}

.downloadbox h2{
    text-align: left;
    margin: 0;
}

.downloadbox p {
    text-align: left;
    padding-bottom: 50px;
}

.downloadboxbtnLogo {
    padding-top: 20px;
    margin-right: 35px;
}

.downloadboxbtnLogo:hover{
    filter: drop-shadow(3px 11px 7px rgb(151, 151, 151));
    cursor: pointer;
}

footer {
    padding: 0;
    margin: 0;
    background-color: #1e5af9;
    width: auto;
    height: 100px;
}

.footerLogo {
    padding-top: 20px;
    color: white;
}

.footerLogo a {
    font-size: 25px;
    padding-left: 10px;
    color: white;
}

footer p {
    padding: 20px;
    padding-bottom: 0;
    margin: 0;
}